<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaohen.fund.analysis.dao.FundFlowMapper">
  <resultMap id="BaseResultMap" type="com.chaohen.fund.analysis.domain.FundFlow">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fund_id" jdbcType="VARCHAR" property="fundId" />
    <result column="gain" jdbcType="DECIMAL" property="gain" />
    <result column="positive_or_negative" jdbcType="TINYINT" property="positiveOrNegative" />
    <result column="fund_date" jdbcType="TIMESTAMP" property="fundDate" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
  </resultMap>
  <insert id="insert" parameterType="com.chaohen.fund.analysis.domain.FundFlow">
    insert into fund_flow (id, fund_id, gain, 
      positive_or_negative, fund_date, status, 
      gmt_create, gmt_modify)
    values (#{id,jdbcType=INTEGER}, #{fundId,jdbcType=VARCHAR}, #{gain,jdbcType=DECIMAL}, 
      #{positiveOrNegative,jdbcType=TINYINT}, #{fundDate,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, fund_id, gain, positive_or_negative, fund_date, status, gmt_create, gmt_modify
    from fund_flow
  </select>
</mapper>